<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<script type="text/javascript" async
		src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
	</script>
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ page.title | default: site.github.repository_name }}::{{ site.title }}</h1>
	  <h2 class="description">{{ site.description | default: site.github.repository_name }}</h2>
    </section>
	<a href="/">首页</a>
	<a href="/list">文章列表</a>
	<a href="/history">历史</a>
	<a href="/test">测试</a>
	<a href="https://github.com/zhzh2001/zhzh2001.github.io/issues">反馈</a>
    <section class="main-content">
      {{ content }}
    </section>
  </body>
</html>
